* {
    margin: 0;
    /* Reset default margin */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /* Ensure the body takes up at least the full viewport height */

}

header {
    background: linear-gradient(to right, #c6ac8f, #5e503f, #463f3a);
    padding: 2rem;
    grid-column: 1/4;
    text-align: center;
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    padding: 1rem;
}

nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
    outline: 2px solid #0a0908;
}

/* 	styiling only the navigation bar; */
.navigation {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    min-width: 300px;
}

/* Styinling the links*/
.navigation a {
    flex: 1 1 100%;
    color: #22333b;
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #f4f3ee;
}

nav a:hover {
    text-decoration: overline;
    color: #c6ac8f;
}

/* Styling the cards*/
main {
    display: grid;
    flex: 1;
    /* Allow the main content to grow and fill available space */
    padding: 20px;
    /* Add some padding for visual appeal */
    margin: 0 auto;
    min-width: 300px;
    min-height: 500px;
    max-width: 900px;
    max-height: fit-content;
}

main section.card:first-of-type {
    /* card 1*/
    display: grid;
    grid-column: 1/3;
    background-color: #c6ac8f;
    border-radius: 2%;
}

main section.card:nth-of-type(2) {
    display: grid;
    grid-column: 3 / 3;
    background-color: #c6ac8f;
    border-radius: 2%;
}

main section.card:first-of-type,
main section.card:nth-of-type(2) {
    margin: 10px;
    position: relative;
    overflow: hidden;
    /*prevents image or box overflow*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Styling content of the cards*/
h2 {
    position: relative;
    color: #5e503f;
    text-align: center;
    max-height: 40px;
    background-color: #eae0d5;
    outline: 2px solid #0a0908;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 100%;
    max-height: fit-content;
    padding: auto;
}

main img:first-of-type {
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    /* Make the image fill the 22% of the card's width */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 30%;
    max-width: fit-content;
    object-fit: cover;
    /* Crop the image to fit, maintaining aspect ratio */
    position: absolute;
    /* Position the image fixed in one place to the card */
    top: 12%;
    right: 1rem;
    margin: 1rem;
    border-style: double;
    border-color: #eae0d5;
}


main img:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    /* Make the image fill the 22% of the card's width */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 10rem;
    max-width: fit-content;
    object-fit: cover;
    /* Crop the image to fit, maintaining aspect ratio */
    position: absolute;
    /* Position the image fixed in one place to the card */
    top: 40%;
    left: 2rem;
    bottom: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
    border-style: double;
    border-color: #eae0d5;
}

main img:first-of-type,
main img:nth-of-type(2) {
    overflow: hidden;
    /*prevents image or box overflow*/
    margin: auto;
}

h3 {
    position: relative;
    left: 6%;
    padding: auto;
    top: 5%;
}

main p:first-of-type {
    top: 20%;
    font-size: 75%;
    font-weight: bold;
    color: #2a241d;
    max-width: 60%;
    max-height: 60%;
    padding-left: 2rem;
    padding-top: 2rem;
    margin: 2px;
    ;

}

main p:nth-of-type(2) {

    font-size: 75%;
    font-weight: bold;
    color: #2a241d;
    max-width: 50%;
    max-height: 30%;
    position: relative;
    left: 40%;
    padding: 1rem;
    top: 11%;

}

/* all the links in the Dev Resources */
.card a {
    color: #22333b;
    display: inline-block;
    margin: auto;
}

footer {
    background-color: c;
    padding: 20px;
    text-align: center;
}

/* Entire scrollbar design */

::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(to top, #f0e3d3, #5e503f);
    /* Color of the track */
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: #c6ac8f;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e503f;
    /* Color when hovered */
}

/*
NOTES
    */