@media (min-width: 500px) {
    main {
        margin: 0;
        background-image: url(/images/argentina-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        display: flex;
        /* Makes main a flex container */
        flex-direction: column;
        /* Arrange items vertically */
        justify-content: flex-start;
    }

    .data,
    .weather {
        width: 18rem;
        /* Set width for the data and weather box*/
        height: auto;
        /* Allow content to determine height */
        align-self: center;
        /* Vertically center the divs */
        align-items: center;
        align-items: stretch;
        background-color: aliceblue;
        border-radius: 2%;
        padding: 1rem;
        
    }


}


h1 {
    background-color: lightblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Boldonse", system-ui;
    font-weight: 800;
    font-style: bold;
    font-size: 4rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}


h2 {
    background-color: aquamarine;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;
    width: 15rem;
    height: 100%;
}

body {
    margin: 0;
}