    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        padding: 0.5rem 0.75rem;
        background: none;
        border: none;
        background-color: #164fc0;
        color: #f4f4f4;
        border-radius: 8%;
        cursor: pointer;
    }

    #nav-menu {
        display: flex;
    }
    .hamburger::before {
        content: "≡";
    }

    .hamburger::before {
        content: "X";
    }

  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    #nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #164fc0;
    }
  
    #nav-menu.active {
      display: flex;
    }
  
    #nav-menu ul {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  
    #nav-menu ul li {
      text-align: center;
      margin: 10px 0;
    }
  
    #nav-menu ul li a {
      display: block;
      width: 100%;
      padding: 10px 0;
      color: #f4f4f4;
    }
  }
  
  