* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;

}

p {
    margin: 1rem;
}

h1 {
    display: flex;
    justify-content:flex-start;
    /* Align the ul to the right */
    width: 100%;
    /* Make the nav span the width */
    align-items: center;
}

h2 {
    text-align: center;
    padding: 50px;
    padding-top: 80px;
}

.parent {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    /* Vertically align items */
}

nav {
    display: flex;
    justify-content: flex-end;
    /* Align the ul to the right */
    width: 100%;
    /* Make the nav span the width */
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 15px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.images {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

footer {
    display: grid;
    background: rgb(188, 211, 235);
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}