* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;

}

p {
    margin: 1rem;
}

h1 {
    position: relative;
    top: 2.1rem;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 50px;
    padding-top: 80px;
}
.whole{
    max-width: 40%;
    height: auto;
    margin: 0;
    padding: 0.5rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 6px;
    place-items: left;
    position: relative;
    left: 60%;
    bottom: 2rem;

}

.images {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

footer {
    display: grid;
    background:rgb(188, 211, 235);
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}